/* Bazowe style */
$base-color: #0e0e0e;
$base-font-color: #ffffff;
$base-orange: #ffa500;
$base-size: 16px;
$base-grey: #3b3b3b;
$base-h2: 25px;


/* Bazowe style dla menu nawigacyjnego */
$nav-font: 'Raleway', sans-serif;
$header-font: 'Raleway', sans-serif;

body {
    background-color: $base-orange;
}