@import 'base';

footer {
    margin: 0 auto;
    width: 95%;
    height: auto;
    background-color: $base-grey;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

footer p {
    color: $base-font-color;
    font-size: 10px;
    text-align: center;
    padding: 5px;
    margin: 0;
}