@import 'base';
.main-section {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 350px; 
   
       
}
#section-left {
    background-color: red;
 
    
}

#section-right {
    background-color: green;
     
}