@import 'base';

@mixin inner {
    background-color: $base-color;
    height: 240px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
}

p {
    font-family: $header-font;
    font-size: $base-size;
    color: $base-orange;
    line-height: 1.5em;
    
}

h2 {
    font-size: $base-h2;
    color: $base-orange;
    font-family: $header-font;
    margin-top: 0;
}

.table-responsive h2 {
    padding-top: 10px;
}

section .container {
  margin: 0 auto;
  width: 95%;  
}
.main-section {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 490px; 
    border-radius: 5px;       
}

#inner-left-top {
   @include inner;
   width: 118%;
    
}

#inner-left-down {
 @include inner;
    width: 118%;
}

table {
    height: 120px;
}

.btn-play {
    font-size: 14px;
    border: 1px solid $base-orange;
    color: $base-grey;
}

.btn-play:hover,
.btn-play:focus {
    font-size: 14px;
    border: 1px solid $base-orange;
    background-color: $base-grey;
    color: $base-orange;
    box-shadow: none;
}

.table>tbody>tr.active>td, .table>tbody>tr.active>th, .table>tbody>tr>td.active, .table>tbody>tr>th.active, .table>tfoot>tr.active>td, .table>tfoot>tr.active>th, .table>tfoot>tr>td.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>thead>tr.active>th, .table>thead>tr>td.active, .table>thead>tr>th.active {
    background-color: $base-grey;
    border: 1px solid $base-grey;
    color: $base-font-color;
    font-size: $base-size;
    vertical-align: middle;
}

/* Sekcja prawa strona */
#section-right {
    background-image: linear-gradient(rgba(82, 82, 122, 0.5), rgba(82, 82, 122, 0.5)), url(../img/girl-1561989_1280.jpg);
    background-position: center;
    
}

.discount {
    height: auto;
    width: 60%;
    background-color: rgba(59, 59, 59, 0.8);
    border-radius: 5px;
    padding: 30px;
    text-align: center;
    margin-top: 60px;
    
}

.check {
   height: auto;
    width: 90%;
    background-color: rgba(59, 59, 59, 0.8); 
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
   
}

.discount p {
    color: $base-font-color;
    margin-right: 5px;
    margin-left: 5px; 
}

#section-right .check .btn {
    padding: 10px;
    margin-right: 15px;
    font-size: 14px;
     color: $base-font-color;
}

#section-right .check .btn:hover,
#section-right .check .btn:focus {
    background-color: $base-grey;
    color: $base-font-color;
    box-shadow: none;
}

.btn-brown {    
    border: 1px solid #4e2310;
    background-color: #4e2310;   
}

.btn-brown:hover,
.btn-brown:focus {    
    border: 1px solid #4e2310;
}

.btn-silver {
    border: 1px solid #8e8585;
    background-color: #8e8585;
}

.btn-silver:hover,
.btn-silver:focus {
    border: 1px solid #8e8585;
}

.btn-gold {
    border: 1px solid $base-orange;
    background-color: $base-orange;
}

.btn-gold:hover,
.btn-gold:focus {
    border: 1px solid $base-orange;
}



