@import 'base';




@media (max-width: 768px) {
    .navbar {
        background-color: $base-grey;
    }
   
    .navbar .nav-tabs.nav-justified > li > a  {
        float: none;
        margin: 0 auto;
        }
    .navbar .nav-justified > li > a {
        width: 100%;
    }
    .navbar .nav-tabs.nav-justified > li > a {
        width: 100%;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: #696767;
    }
    .navbar-default .navbar-toggle {
        border: none;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: $base-orange;
    }
    .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
        border: none;
        padding-top: 5px;        
    }
    #inner-left-top,
    #inner-left-down {
     width: 100%;
    
}
      
}


@media (min-width: 768px) and (max-width: 990px) {
    #inner-left-top,
    #inner-left-down {
     width: 100%;
    
}
}

@media (max-width: 480px) {
    .navbar .nav-justified > li > a {
        margin-left: 0;
    }
       header .btn {
        font-size: 18px;
    }
   

}
