/* Bazowe style */
/* Bazowe style dla menu nawigacyjnego */
body {
  background-color: #0e0e0e; }

@media (max-width: 480px) {
  .navbar .nav-justified > li > a {
    margin-left: 0; } }

@media (max-width: 768px) {
  .navbar {
    background-color: #3b3b3b; }
  .navbar-brand {
    display: none; }
  .navbar .nav-tabs.nav-justified > li > a {
    float: none;
    margin: 0 auto; }
  .navbar .nav-justified > li > a {
    width: 100%; }
  .navbar .nav-tabs.nav-justified > li > a {
    width: 100%; }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #696767; }
  .navbar-default .navbar-toggle {
    border: none; }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ffa500; }
  .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    border: none;
    padding-top: 5px; } }

@media (min-width: 768px) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-top: -10px;
    margin-left: 0;
    padding: 10px; } }
