/* Bazowe style */
/* Bazowe style dla menu nawigacyjnego */
body {
  background-color: #ffa500; }

/* Bazowe style */
/* Bazowe style dla menu nawigacyjnego */
body {
  background-color: #ffa500; }

.navbar {
  background-color: #0e0e0e;
  border: none;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 10px; }
  .navbar .nav-tabs.nav-justified > li > a {
    float: right;
    width: 20%;
    color: #ffa500;
    font-size: 16px;
    border-bottom: 1px solid #3b3b3b;
    font-family: "Raleway", sans-serif; }
  .navbar .nav-tabs.nav-justified > li > a:hover {
    background-color: #3b3b3b;
    border: 1px solid #3b3b3b; }
  .navbar .glyphicon {
    color: #ffa500;
    padding: 0 10px;
    font-size: 1.5em; }
  .navbar .nav-justified > li > a {
    color: #ffffff;
    font-size: 16px;
    width: 80%;
    margin-left: 15px;
    font-family: "Raleway", sans-serif;
    padding: 10px 0;
    clear: both; }
  .navbar .nav-justified > li > a:hover {
    background-color: #3b3b3b; }
  .navbar .nav-justified > li > a:focus {
    background-color: #3b3b3b; }

/* Bazowe style */
/* Bazowe style dla menu nawigacyjnego */
body {
  background-color: #ffa500; }

header {
  background-image: linear-gradient(rgba(82, 82, 122, 0.5), rgba(82, 82, 122, 0.5)), url(../img/header.jpg);
  height: 450px;
  background-position: center;
  background-size: center;
  position: relative;
  width: 95%;
  margin: 0 auto;
  border-radius: 5px; }

#discount {
  line-height: 450px; }

.btn {
  background-color: #ffa500;
  font-size: 25px;
  font-family: "Raleway", sans-serif; }

#verticalButton {
  vertical-align: middle; }

/* Bazowe style */
/* Bazowe style dla menu nawigacyjnego */
body {
  background-color: #ffa500; }

section .container {
  margin: 0 auto;
  width: 95%; }

.main-section {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 490px;
  border-radius: 5px; }

#section-right {
  background-color: #0e0e0e; }

#inner-left-top {
  background-color: #0e0e0e;
  height: 240px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
  width: 118%; }

#inner-left-down {
  background-color: #0e0e0e;
  height: 240px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
  width: 118%; }

table {
  height: 110px; }

.btn-play {
  font-size: 14px;
  border: 1px solid #ffa500; }

.btn-play:hover,
.btn-play:focus {
  font-size: 14px;
  border: 1px solid #ffa500;
  background-color: #3b3b3b;
  color: #ffa500; }

h2 {
  font-size: 25px;
  color: #ffa500;
  font-family: "Raleway", sans-serif; }

.table > tbody > tr.active > td, .table > tbody > tr.active > th, .table > tbody > tr > td.active, .table > tbody > tr > th.active, .table > tfoot > tr.active > td, .table > tfoot > tr.active > th, .table > tfoot > tr > td.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > thead > tr.active > th, .table > thead > tr > td.active, .table > thead > tr > th.active {
  background-color: #3b3b3b;
  border: 1px solid #3b3b3b;
  color: #ffffff;
  font-size: 16px; }
